<!-- first section -->
<div class="col-md-12">
   <div class="row box">
     <div class="box-inner col-md-8 col-md-offset-3">
       <h1 class="title">HELLO AIR</h1>
       <p class="slogan">开启职业生涯
         <br/>在未来等待自己的到来
       </p>
       <p class="lead">
         <%= link_to '加入我们吧', jobs_path, class: 'btn btn-danger' %>
       </p>
     </div>
   </div>
 </div>
<!-- /.first section -->

<!-- content-section-b -->
<div class="content-section-b">
  <div class="container">
    <div class="row">

      <div class="col-sm-4">
        <div class="rounded1">
          <img src="http://www.primemotiontraining.com.au/wp-content/uploads/icon-specialised-training.png">
          <div class="caption">
            <h3>职业生涯</h3>
            <br/>
            <p class="caption_detail">  薪水翻倍，极速成长，成为专业选手，走向职业生涯的巅峰 </p>
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="rounded2">
          <img src="https://cdn.vectorstock.com/i/1000x1000/60/62/10106062.jpg" class="img-responsive" alt="Responsive image">
          <div class="caption">
            <h3>团队 </h3>
            <br/>
            <p class="caption_detail">找到理想的工作，最靠谱的老板，高格调的团队，百万年薪不是梦 </p>
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="rounded3">
          <div class="caption3">
            <img src="https://thumb1.shutterstock.com/display_pic_with_logo/4018645/397342807/stock-vector-search-euro-money-icon-397342807.jpg" class="img-responsive" alt="Responsive image" >
            <h3 class="caption3-font">Serendipity</h3>
            <br/>
          </div>
          <p class="caption_detail3"> 赚到人生第一桶金，邂逅幸运女神，开启财富自由之门</p>
        </div>
      </div>

    </div>
  </div>
</div>
<!-- /.content-section-b -->

<!-- content-section-a -->
<div class="content-section-a">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <img src="http://biznot.xsrv.jp/wp/wp-content/uploads/2013/10/misspirot.jpg" class="img-responsive" alt="Responsive image">
      </div>
      <div class="col-sm-4">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">这里有最优秀的空勤人员</h2>
        <p class="lead">最牛气的维修工程师！
        <br/>期待你的加入,成为...
        <br/>天空的一员
        </p>
      </div>
    </div>
  </div>
</div>
<!-- /.content-section-a -->

<!-- content-section-c -->
<div class="content-section-c">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="work">
          <div class="work-font">
          <!--  <h3>Hello Air<h3>  -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /.content-section-c -->

<!-- content-section-d -->
<div class="content-section-d">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="my-pic">
          <p class="lead-bottom">
            <a class="btn btn-primary-welcome" href="jobs" role="button">加入我们吧</a></a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /.content-section-d -->
