<!-- jumbotron -->
<div class="jumbotron">
  <h1 class="title-hello">Hello Air!</h1>

  <p class="slogan">
    I Can Do It.
  </p>

  <p class="join">
    <a class="btn btn-primary" href="/jobs" role="button">JOIN US</a>
  </p>
</div>
<!-- /.jumbotron -->

<!-- three section -->
<section id="company">
  <div class="container-fluid">
    <div class="row">

      <div class="col-sm-4">
        <div class="rounded1">
          <img src="https://grist.files.wordpress.com/2012/10/green-job-arrow-shutterstock.jpg?w=330&h=240" class="img-responsive" alt="Responsive image">
          <div class="caption">
            <h3>Career</h3>
            <br/>
            <p class="caption_detail">  Growth just is our career. </p>
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="circle2">
          <img src="https://blog.snapengage.com/wp-content/blogs.dir/3/files/2015/06/team-icon1.png" class="img-responsive" alt="Responsive image">
          <div class="caption">
            <h3>Team </h3>
            <br/>
            <p class="caption_detail">Social collaboration, that is the essential of learning. </p>
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="rounded3">
          <img src="http://y.photo.qq.com/img?s=0fLOI1TfJ&l=y.jpg" class="img-responsive" alt="Responsive image" >
          <div class="caption3">
            <h3>Serendipity</h3>
            <br/>
          </div>
          <p class="caption_detail"> You can earn it, but can't find it. </p>
        </div>
      </div>

    </div>
  </div>
</section>
<!-- /.three section -->

<!-- rest-room -->
<div class="rest-room">
  <div class="container-fluid">
    <div class="row">

      <div class="col-md-12">
        <div class="rest">
          <div class="rest-font">
          <!--  <h3>Hello Air<h3>  -->
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<!-- /.rest-room -->

<!-- my-room -->
<div class="my-room">
  <div class="container-fluid">
    <div class="row">

      <div class="col-md-12">
        <div class="my-pic">
          <img src="http://y.photo.qq.com/img?s=rzsHfoszT&l=y.jpg" class="img-responsive" alt="Responsive image">
        </div>
      </div>

    </div>
  </div>
</div>
<!-- /.my-room -->

<!-- link_to_webs -->

<!-- /.link_to webs -->
