<body data-spy="scroll" data-target=".nav-top">
  <!-- the first section -->
  <section class="intro">
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="intro-content">
          <h1>HELLO AIR - 专业的航空招聘网站</h1>
          <p>国际顶尖的航空企业，最具创造力的运营团队</p>
          <p>
            <a class="btn btn-primary-welcome" href="jobs" role="button">开启职业生涯</a>
          </p>
        </div>
      </div>
    </div>
  </section>
  <!-- end the first section -->
</body>
