<div class="jumbotron">
    <h1 class="title">Whatever you are on the way!</h1>
    <p class="slogan">Who am I?
    <br>
    Wherever you came from!
    <br>
    Wherever you will go!
    </p>
    <p class="lead"><a class="btn btn-lg btn-danger" href="/jobs">Join us</a></p>
</div>

<section id="company">
  <div class = "container-fluid">
    <div class="row">
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <img src="https://image-gr.s3.envato.com/files/48089478/People%20Icons%20Vector%201.JPG">
          <div class="caption">
            <h3>北京朝阳建外SOHO</h3>
          </div>
        </div>
      </div>
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <img src="http://bishopwalsh.net/careers/wp-content/uploads/sites/6/2013/05/bigstock-Job-And-Education-Computer-Key-32626085.jpg" alt="bid" class = "img-thhumbnail">
          <div class="caption">
            <h3>info@18koffer.com</h3>
          </div>
        </div>
      </div>
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <img src="http://newmexicanvoice.com/wp-content/uploads/2011/04/Jobs-magnifying-glass-icon.jpg" alt="heart" class = "img-thumbnail">
          <div class="caption">
            <h3>010-12344321</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
