<div class="jumbotron">
  <h1 class="title-hello">Hello Air!</h1>

  <p class="slogan">
    I Can Do It.
  </p>

  <p class="join">
    <a class="btn btn-primary" href="/jobs" role="button">Learn more</a>
  </p>
</div>

<!-- three section -->
<section id="company">
  <div class="container-fluid">
    <div class="row">

      <div class="col-sm-4">
        <div class="rounded1">
          <img src="https://grist.files.wordpress.com/2012/10/green-job-arrow-shutterstock.jpg?w=330&h=240" class="img-responsive" alt="Responsive image">
          <div class="caption">
            <h3>Career</h3>
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="circle2">
          <img src="https://blog.snapengage.com/wp-content/blogs.dir/3/files/2015/06/team-icon1.png" class="img-responsive" alt="Responsive image">
          <div class="caption">
            <h3>Team</h3>
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="rounded3">
          <img src="https://www.newbedfordguide.com/wp-content/uploads/2012/03/new-bedford-job-search.jpg" class="img-responsive" alt="Responsive image" >
          <div class="caption">
            <h3>Serendipity</h3>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
<!-- /.three section -->
