<body data-spy="scroll" data-target=".nav-top">
  <!-- the first section(head PIC)-->
  <section class="intro">
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="intro-content">
          <h1>HELLO AIR - 专业的航空招聘网站</h1>
          <p>国际顶尖的航空企业，最具创造力的运营团队</p>
          <p>
            <a class="btn btn-primary-welcome" href="jobs" role="button">开启职业生涯</a>
          </p>
        </div>
      </div>
    </div>
  </section>
  <!-- /. the first section(head PIC) -->

  <!-- the second section(web description) -->
  <section id="feature" class="our-experts">
    <div class="container">
        <div class="row">
          <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
              <h2 class="section-title">活在未来，等待自己的到来</h2>
              <div class="short-line"></div>
              <p class="index-content">
                HELLOAIR招聘网站由知名航空服务企业--哈罗航空全资投资。<br/>
                我们利用神经网络算法，大数据推演，分析全球各大航空企业的职位需求。<br/>
                创建了定向推送方式，与Facebook的广告推送算法有异曲同工之妙，<br/>
                精准匹配企业人事战略需求和专业人才的职业生涯导向。
              </p>
              <%= image_tag("http://www.userlogos.org/files/logos/jumpordie/folder-travel.png") %>
            </div>
          </div>
        </div>
    </div>
  </section>
  <!-- /. the second section(web description) -->
</body>
