<!-- first section -->
<div class="col-md-12">
   <div class="row box">
     <div class="box-inner col-md-8 col-md-offset-3">
       <h1 class="title">HELLO AIR</h1>
       <p class="slogan">
         <br>

         <br>
         I can do it!
       </p>
       <p class="lead">
         <%= link_to 'Join us', jobs_path, class: 'btn btn-danger' %>
       </p>
     </div>
   </div>
 </div>
<!-- /.first section -->

<!-- content-section-a -->
<div class="content-section-a">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">一定要把履历写好在投</h2>
        <p class="lead">履历如果不会写就一定要多上网寻求帮助，例如  <a target="_blank" href="http://blog.niclin.tw">Nic 的 Blog</a>! 啦啦啦啦啦啦啦</p>
      </div>
      <div class="col-lg-5 col-sm-pull-6  col-sm-6">
        <img src="http://y.photo.qq.com/img?s=puvnWV50X&l=y.jpg" class="img-responsive" alt="Responsive image">
      </div>
    </div>
  </div>
</div>
<!-- /.content-section-a -->

<!-- content-section-b -->
<div class="content-section-b">
  <div class="container">
    <div class="row">

      <div class="col-sm-4">
        <div class="rounded1">
          <img src="https://grist.files.wordpress.com/2012/10/green-job-arrow-shutterstock.jpg?w=330&h=240" class="img-responsive" alt="Responsive image">
          <div class="caption">
            <h3>Career</h3>
            <br/>
            <p class="caption_detail">  Growth just is our career. </p>
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="rounded2">
          <img src="https://blog.snapengage.com/wp-content/blogs.dir/3/files/2015/06/team-icon1.png" class="img-responsive" alt="Responsive image">
          <div class="caption">
            <h3>Team </h3>
            <br/>
            <p class="caption_detail">Social collaboration, that is the essential of learning. </p>
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="rounded3">
          <div class="caption3">
            <img src="http://y.photo.qq.com/img?s=0fLOI1TfJ&l=y.jpg" class="img-responsive" alt="Responsive image" >
            <h3 class="caption3-font">Serendipity</h3>
            <br/>
          </div>
          <p class="caption_detail3"> You can earn it, but can't find it. </p>
        </div>
      </div>

    </div>
  </div>
</div>
<!-- /.content-section-b -->


<!-- content-section-c -->
<div class="content-section-c">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="work">
          <div class="work-font">
          <!--  <h3>Hello Air<h3>  -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /.content-section-c -->

<!-- content-section-d -->
<div class="content-section-d">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="my-pic">
          <img src="http://y.photo.qq.com/img?s=rzsHfoszT&l=y.jpg" class="img-responsive" alt="Responsive image">
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /.content-section-d -->
