// Place all the styles related to the jobs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//------job content------
.job-content{
  margin-top: 50px;
  a{
    text-decoration: none; //如果不加此段代码，第一个job的title将会闪烁
  }
}

//------job------
.main-box {
  margin-left: 75px; // temporary deal with the whole page as it close to left blank of browse
}

.job-box{
  border: 1.5px solid #ddd;
  background-color: #fff;
  margin-top: 12px;
  padding: 20px 15px 7.5px;
  font-family: "Hiragino Sans GB","Microsoft Yahei",SimSun,Arial,"Helvetica Neue",Helvetica;
  font-size: 16px;
  box-shadow: 1px 1px 5px #ccc;

  div{
    margin-bottom: 5px;
  }

.info{
    display: inline;
    float: left;
}

.info-top{
  h3{
    display: inline;
    font-size: 20px;
  }
  span{
    margin-left: 10px;
    display: inline;
    color: #777;
  }
}

.info-mid{
  color: #9b4c06;
  letter-spacing: -1px;
}
}
