// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* first section */
.box {
  background-image: url('http://y.photo.qq.com/img?s=wzxhkiOYJ&l=y.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 10px;

   .box-inner {

       padding-bottom: 5px;
       margin-right: 10px;
       margin-top: 75px;
       margin-bottom: 76px;
   }

   .title {
       text-align: right;
       margin-top: 120px;
       margin-bottom: 60px;
   }

   .slogan {
       color: #222;
       margin-top: 50px;
       margin-bottom: 10px;
       text-align: right;
       font-size: 25px;
       top: 12px;
   }

   .lead {
       margin-bottom: 60px;
       text-align: right;
       color: white;
   }
}
/* end first section */

/* content-section-a */
.content-section-a {
  padding: 50px 0;
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
  background-color: #f6f6f6;

}

.section-heading-spacer {
  float: left;
  width: 200px;
  border-top: 3px solid #e7e7e7;
  margin-top: 80px;
}

.lead {
  font-size: 18px;
  font-weight: 400;
  padding-bottom: 100px;
}

.col-lg-5 {
  padding-top: 80px;
}

/* end content-section-a */

/* content-section-b */
.content-section-b {
    padding: 5px 0 30px 0;
    background-color: white;
}

.caption {
  margin: 30px;
  text-align: center;
  top: 20px;
}
.caption_detail {
  font-family: "Helvetivca Neue", "Microsoft Yahei";
  font-size: 18px;
}

.rounded1 {
  margin-top: 80px;
}

.rounded2 {
  margin-top: 110px;
}

.rounded3 {
  margin-top: 95px;
  margin-left: 80px;
}

.caption3 {
  margin-left: 40px;
}

.caption3-font {
  margin-left: 35px;
}

.caption_detail3 {
  font-family: "Helvetivca Neue", "Microsoft Yahei";
  font-size: 18px;
}
/* end content-section-b */

/* content-section-c */
.content-section-c {
  background-image:url('http://y.photo.qq.com/img?s=CrLkFRW47&l=y.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 530px;
}

.work {
  margin: 1em 0em;
  padding: 1em 1em;
  text-align: center;
}
/* end content-section-c */

/* content-section-d */
.my-pic {
margin: 0em -1.1em;
}
/* end content-section-d */
