// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* jumbotron */
.jumbotron {
  background-image:url('http://y.photo.qq.com/img?s=wzxhkiOYJ&l=y.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 110px;
}

.title-hello {
  font-family: "Helvetivca Neue", "Microsoft Yahei", 微软雅黑;
  text-align: right;
  margin-top: 200px;
  margin-bottom: 80px;
}

.slogan {
  margin-top: 10px;
  text-align: right;
  color: black;
}

.join {
  text-align: right;
}
/* end jumbotron */

/* second-part */
.second-back {
  background-color: #f2f2f2;
  margin-top: -30px;
}

.second-part {
  text-align: center;
  margin-left: 220px;
  margin-bottom: 35px;
}

.second-font {
  margin-top: 55px;
}

.second-part_detail {
  font-family: "Helvetivca Neue", "Microsoft Yahei";
  font-size: 18px;
}
/* end rest */

/* for three section */


.caption {
  margin: 30px;
  text-align: center;
  top: 20px;
}
.caption_detail {
  font-family: "Helvetivca Neue", "Microsoft Yahei";
  font-size: 18px;
}

.rounded1 {
  margin-top: 80px;
}

.circle2 {
  margin-top: 110px;
}

.rounded3 {
  margin-top: 95px;
  margin-left: 80px;
}

.caption3 {
  margin-left: 40px;
  font-family: "Helvetivca Neue", "Microsoft Yahei";
  font-size: 18px;
}

/* end for three section */

/* for rest */
.rest-room {
  background-image:url('http://y.photo.qq.com/img?s=CrLkFRW47&l=y.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 530px;
}

.rest {
  margin: 1em 0em;
  padding: 1em 1em;
  text-align: center;

}
/* end rest */

/* my-pic */
.my-room {
margin: 0em -1.1em;
}
/* end my-pic*/
